src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration" />
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router" keepRamlBaseUri="false">
        <apikit:flow-mapping resource="/identification" action="get" flow-ref="get:/identification:api-config" />
        <apikit:flow-mapping resource="/identification/{id}" action="get" flow-ref="get:/identification/{id}:api-config" />
        <apikit:flow-mapping resource="/identification" action="post" flow-ref="post:/identification:api-config" />
        <apikit:flow-mapping resource="/identification/{id}" action="put" flow-ref="put:/identification/{id}:api-config" />
        <apikit:flow-mapping resource="/identification/{id}" action="delete" flow-ref="delete:/identification/{id}:api-config" />
    </apikit:config>
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="api-config" doc:name="APIkit Router" />
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="api-config" doc:name="APIkit Console" />
    </flow>
    <flow name="get:/identification:api-config">
        <flow-ref name="get-identifications-collection-Flow" doc:name="get-identifications-collection-Flow" />
    </flow>
    <flow name="get:/identification/{id}:api-config">
        <set-variable variableName="id" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Variable id" />
        <flow-ref name="get-identification-item-Flow" doc:name="get-identification-item-Flow" />
    </flow>
    <flow name="put:/identification/{id}:api-config">
        <set-variable variableName="id" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Variable" />
        <flow-ref name="update-identification-Flow" doc:name="update-identification-Flow" />
    </flow>
    <flow name="post:/identification:api-config">
        <flow-ref name="create-identification-Flow" doc:name="create-identification-Flow" />
    </flow>
    <flow name="delete:/identification/{id}:api-config">
        <set-variable variableName="id" value="#[message.inboundProperties.'http.uri.params'.id]" doc:name="Variable" />
        <flow-ref name="delete-identification-Flow" doc:name="delete-identification-Flow" />
    </flow>
    <flow name="get:/identification/{id}/address:api-config">
        <flow-ref name="get-address-collection-Flow" doc:name="get-address-collection-Flow"/>
    </flow>
    <flow name="post:/identification/{id}/address:api-config">
        <flow-ref name="create-address-Flow" doc:name="create-address-Flow"/>
    </flow>
    <flow name="get:/identification/{id}/address/{addressId}:api-config">
        <flow-ref name="get-address-item-Flow" doc:name="get-address-item-Flow"/>
    </flow>
    <flow name="put:/identification/{id}/address/{addressId}:api-config">
        <flow-ref name="update-address-Flow" doc:name="update-address-Flow"/>

    </flow>
    <flow name="delete:/identification/{id}/address/{addressId}:api-config">
        <flow-ref name="delete-address-Flow" doc:name="delete-address-Flow"/>
    </flow>
    <flow name="get:/identification/{id}/communication:api-config">
        <flow-ref name="get-communication-collection-Flow" doc:name="get-communication-collection-Flow"/>

    </flow>
    <flow name="post:/identification/{id}/communication:api-config">
        <flow-ref name="create-communication-Flow" doc:name="create-communication-Flow"/>
    </flow>
    <flow name="get:/identification/{id}/communication/{communicationId}:api-config">
        <flow-ref name="get-communication-item-Flow" doc:name="get-communication-item-Flow"/>
    </flow>
    <flow name="put:/identification/{id}/communication/{communicationId}:api-config">
        <flow-ref name="update-communication-Flow" doc:name="update-communication-Flow"/>
    </flow>

    <flow name="delete:/identification/{id}/communication/{communicationId}:api-config">
        <flow-ref name="delete-communication-Flow" doc:name="delete-communication-Flow"/>

    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
