src/main/app/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*" doc:name="HTTP" />
       <expression-component doc:name="Set Required Properties"><![CDATA[flowVars.vMessageId=message.rootId;
flowVars.vCorrelationId=java.util.UUID.randomUUID().toString();
flowVars.vTimeStamp=server.dateTime.format("yyyy-MM-dd HH:mm:ss.SSS");]]></expression-component>
        <flow-ref name="entry-logger-sub-flow" doc:name="entry-logger-sub-flow"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router" />

        <exception-strategy ref="apiKitExceptionStrategy" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="api-config" doc:name="APIkit Console" />
    </flow>
    <flow name="post:/employee:api-config">
        <flow-ref name="create-employee-Flow" doc:name="create-employee-Flow" />
    </flow>
    <flow name="get:/identification:api-config">
        <flow-ref name="get-identifications-collection-Flow" doc:name="get-identifications-collection-Flow" />
    </flow>
    <flow name="get:/identification/{id}:api-config">
        <flow-ref name="get-identification-item-Flow" doc:name="get-identification-item-Flow" />
    </flow>
    <flow name="put:/identification/{id}:api-config">
        <flow-ref name="update-identification-Flow" doc:name="update-identification-Flow" />
    </flow>
    <flow name="post:/identification:api-config">
        <flow-ref name="create-identification-Flow" doc:name="create-identification-Flow" />
    </flow>
    <flow name="delete:/identification/{id}:api-config">
        <flow-ref name="delete-identification-Flow" doc:name="delete-identification-Flow" />
    </flow>
    <flow name="get:/identification/{id}/address:api-config">
        <flow-ref name="get-address-collection-Flow" doc:name="get-address-collection-Flow" />
    </flow>
    <flow name="post:/identification/{id}/address:api-config">
        <flow-ref name="create-address-Flow" doc:name="create-address-Flow" />
    </flow>
    <flow name="get:/identification/{id}/address/{addressId}:api-config">
        <flow-ref name="get-address-item-Flow" doc:name="get-address-item-Flow" />
    </flow>
    <flow name="put:/identification/{id}/address/{addressId}:api-config">
        <flow-ref name="update-address-Flow" doc:name="update-address-Flow" />
    </flow>
    <flow name="delete:/identification/{id}/address/{addressId}:api-config">
        <flow-ref name="delete-address-Flow" doc:name="delete-address-Flow" />
    </flow>
    <flow name="get:/identification/{id}/communication:api-config">
        <flow-ref name="get-communication-collection-Flow" doc:name="get-communication-collection-Flow" />
    </flow>
    <flow name="post:/identification/{id}/communication:api-config">
        <flow-ref name="create-communication-Flow" doc:name="create-communication-Flow" />
    </flow>
    <flow name="get:/identification/{id}/communication/{communicationId}:api-config">
        <flow-ref name="get-communication-item-Flow" doc:name="get-communication-item-Flow" />
    </flow>
    <flow name="put:/identification/{id}/communication/{communicationId}:api-config">
        <flow-ref name="update-communication-Flow" doc:name="update-communication-Flow" />
    </flow>
    <flow name="delete:/identification/{id}/communication/{communicationId}:api-config">
        <flow-ref name="delete-communication-Flow" doc:name="delete-communication-Flow" />
    </flow>
    <flow name="put:/identification/{id}/address/{addressId}:application/json:api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/identification/{id}/communication/{communicationId}:application/json:api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/identification/{id}:application/json:api-config">
        <set-payload value="{&#xD;&#xA;&#x9;&quot;empId&quot;: 1,&#xD;&#xA;&#x9;&quot;firstName&quot;: &quot;first_name&quot;,&#xD;&#xA;&#x9;&quot;lastName&quot;: &quot;last_name&quot;,&#xD;&#xA;&#x9;&quot;dob&quot;: &quot;2000-01-02&quot;,&#xD;&#xA;&#x9;&quot;gender&quot;: &quot;M&quot;,&#xD;&#xA;&#x9;&quot;title&quot;: &quot;Manager&quot;&#xD;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/identification/{id}/address:application/json:api-config">
        <set-payload value="{&#xA;&quot;correlationId&quot; : &quot;TEST123&quot;,&#xA;&quot;errorCode&quot; : &quot;MWGXXX&quot;,&#xA;&quot;errorMessage&quot; : &quot;The request cannot be fulfilled due to incorrect request message, please check the request.&quot;,&#xA;&quot;timeStamp&quot; : &quot;2018-04-23T14:25:43&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/identification/{id}/communication:application/json:api-config">
        <set-payload value="{&#xA;&quot;correlationId&quot; : &quot;TEST123&quot;,&#xA;&quot;errorCode&quot; : &quot;MWGXXX&quot;,&#xA;&quot;errorMessage&quot; : &quot;The request cannot be fulfilled due to incorrect request message, please check the request.&quot;,&#xA;&quot;timeStamp&quot; : &quot;2018-04-23T14:25:43&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/employee:application/json:api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/identification:application/json:api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
   
</mule>
